.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  cursor: pointer;
  border: 2px solid black;
  filter: drop-shadow(0px 9px 1px rgba(0, 0, 0, 1));
}

.btn span {
  width: 100%;
  text-align: left;
}

.btn.vs_player {
  background-color: var(--Sand);
}
.btn.vs_player .img {
  background: url("./../../images/player-vs-player.svg") 100% center / contain no-repeat;
  width: 70%;
  height: 70%;
}

.btn.vs_cpu {
  background-color: var(--Pink);
}

.btn.vs_cpu .img {
  background: url("./../../images/player-vs-cpu.svg") 100% center / contain no-repeat;
  width: 70%;
  height: 70%;
}

.btn.game_rules {
  background-color: var(--White);
}

.btn:hover {
  border: 2px solid var(--Purple);
  filter: drop-shadow(0px 9px 1px var(--Purple));
}

.btn.continue {
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  text-align: center;
}
.btn.restart {
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  text-align: center;
}
.btn.quit {
  align-items: center;
  justify-content: center;
  background-color: var(--Pink);
  color: var(--White);
  text-align: center;
}

.btn.continue span,
.btn.restart span,
.btn.quit span,
.btn.ingame_menu span {
  text-align: center;
}

.btn.checkmark {
  position: absolute;
  top: 93%;
  background: url("./../../images/icon-check.svg") no-repeat;
  width: 70px;
  height: 75px;
  cursor: pointer;
  border: none;
  filter: none;
}

.btn.checkmark:hover {
  background: url("./../../images/icon-check_hover.svg") no-repeat;
}

.btn.ingame_menu {
  height: 39px;
  width: auto;
  color: var(--White);
  background-color: var(--Purple);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
  border: none;
  filter: none;
  border-radius: 20px;
}

.btn.ingame_menu:hover {
  background-color: var(--Pink);
}

/* --------Checkmark---------------------------------------------------------------------- */
@media (max-width: 345px) {
  .btn.checkmark {
    top: 93%;
  }
}

@media (max-width: 315px) {
  .btn.checkmark {
    top: 93%;
  }
}

@media (max-width: 290px) {
  .btn.checkmark {
    top: 95%;
  }
}

/* --------Ingame---------------------------------------------------------------------- */
@media (max-width: 935px) {
  .btn.ingame_menu {
    width: 18%;
    margin-bottom: 0px;
  }
}

@media (max-width: 705px) {
  .btn.ingame_menu {
    min-width: 107px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-weight: 700;
    font-size: 17px;
    line-height: 31px;
    height: 58px;
  }
}

@media (max-width: 470px) {
  .btn {
    font-weight: 700;
    font-size: 17px;
    line-height: 31px;
    height: 58px;
  }

  .btn.vs_player img,
  .btn.vs_cpu img {
    height: 50px;
    width: 50px;
  }
}

.btn.ingame_menu.win {
  margin-bottom: 0px;
}

@media (max-width: 409px) {
  .btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 31px;
  }
}

@media (max-width: 360px) {
  .btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
  }
}

@media (max-width: 935px) {
  .btn.ingame_menu.win {
    width: auto;
  }
}
