.player-wrapper {
  width: 132px;
}

@media (max-width: 935px) {
  .player-wrapper:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    width: auto;
  }
  .player-wrapper:last-child {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    width: auto;
  }
}

@media (max-width: 705px) {
  .player-wrapper:first-child {
    display: flex;
    justify-content: end;
  }
  .player-wrapper:last-child {
    display: flex;
    justify-content: start;
  }
}

.player-card {
  padding: 30px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 15px;
  border: 2px solid var(--Black);
  border-bottom: 9px solid var(--Black);
  position: relative;
}

@media (max-width: 935px) {
  .player-wrapper:first-child .player-card {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .player-wrapper:last-child .player-card {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
  }
}

@media (max-width: 705px) {
  .player-wrapper:first-child .player-card {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-width: 112px;
  }

  .player-wrapper:last-child .player-card {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-width: 112px;
  }
}

.player-ico {
}
.player-ico img {
  position: absolute;
  top: -28%;
  left: 28%;
}

@media (max-width: 935px) {
  .player-wrapper:first-child .player-ico img {
    top: 21%;
    left: -10%;
  }
  .player-wrapper:last-child .player-ico img {
    top: 21%;
    left: 91%;
  }
}

@media (max-width: 705px) {
  .player-wrapper:first-child .player-ico img {
    top: 29%;
    left: -31%;
  }
  .player-wrapper:last-child .player-ico img {
    top: 29%;
    left: 84%;
  }
}

.player-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

@media (max-width: 705px) {
  .player-name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media (max-width: 935px) {
  .player-wrapper:first-child .player-name {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    padding-left: 30px;
  }

  .player-wrapper:last-child .player-name {
    display: inline-flex;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 30px;
  }
}

@media (max-width: 705px) {
  .player-wrapper:first-child .player-name {
    padding-left: 0px;
    justify-content: center;
  }

  .player-wrapper:last-child .player-name {
    padding-right: 0px;
    justify-content: center;
  }
}

.player-score {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 71px;
  text-align: center;
}

@media (max-width: 705px) {
  .player-score {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
  }
}
