.objective-wrapper {
}
.title {
  color: var(--Purple);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.objective-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.how-to-play-wrapper {
}

.how-to-play-list {
  padding-left: 20px;
}

.list-item {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /*  display: block; */
}

.list-item:before {
}

@media (max-width: 425px) {
  .menu-card-rules {
    font-size: 50px;
  }

  .objective-text {
    font-size: 14px;
  }

  .list-item {
    font-size: 14px;
  }
}
