.playing-item-touch {
  cursor: pointer;
  width: 70px;
  height: 70px;
}

@media (max-width: 705px) {
  .playing-item-touch {
    width: 41px;
    height: 46px;
  }
}

.playing-item-touch.disabled {
  cursor: default;
}
