.game-area-wrapper {
  background-color: var(--Purple-light);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

@media (max-width: 935px) {
  .game-area-wrapper {
    justify-content: flex-start;
  }
}

.gameboard-black-layer {
  background: url("./../../images/board-layer-black-large.svg") 0 0 / cover;
  width: 632px;
  height: 594px;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (max-width: 705px) {
  .gameboard-black-layer {
    top: 0px;
    left: 0px;
    background: url("./../../images/board-layer-black-small.svg") 0 0 / cover;
    width: 335px;
    height: 320px;
  }
}

.gameboard-white-layer {
  background: url("./../../images/board-layer-white-large.svg") 0 0 / cover;
  width: 632px;
  height: 584px;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
}

@media (max-width: 705px) {
  .gameboard-white-layer {
    top: 0px;
    left: 0px;
    background: url("./../../images/board-layer-white-small.svg") 0 0 / cover;
    width: 335px;
    height: 310px;
  }
}

.game-board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 935px) {
  .game-board-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 17% 83%;
  }
}

.game-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 632px;
  height: 594px;
  margin: 0px 30px;
}

@media (max-width: 965px) {
  .game-board {
    margin: 0px 10px;
  }
}

@media (max-width: 935px) {
  .game-board {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    top: 0;
  }
}

@media (max-width: 705px) {
  .game-board {
    width: 335px;
    height: 320px;
    margin: 0px 10px;
  }
}

/* --------PLAYING-LAYER---------------------------------------------------------------------- */

.gameboard-playing-layer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 16px 16px 16px;
  gap: 10px;
  width: 632px;
  height: 555px;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (max-width: 705px) {
  .gameboard-playing-layer {
    top: 0px;
    left: 0px;
    width: 335px;
    height: 280px;
    padding: 7px 7px 0px 7px;
    gap: 1px;
  }
}

.playing-item {
}

.playing-item.win::before {
  content: "";
  display: block;
  position: relative;
  top: 24%;
  left: 25%;
  width: 50%;
  height: 45%;
  border-radius: 50%;
  border: 5px solid var(--White);
}

.playing-item.red {
  background: url("./../../images/counter-red-large.svg") 0 0 / cover;
  width: 70px;
  height: 75px;
}
.playing-item.yellow {
  background: url("./../../images/counter-yellow-large.svg") 0 0 / cover;
  width: 70px;
  height: 75px;
}
@media (max-width: 705px) {
  .playing-item.red {
    background: url("./../../images/counter-red-small.svg") 0 0 / cover;
    width: 41px;
    height: 46px;
  }
  .playing-item.yellow {
    background: url("./../../images/counter-yellow-small.svg") 0 0 / cover;
    width: 41px;
    height: 46px;
  }
}

.playing-item img {
}

.playing-item.animate {
  position: relative;
  top: 0px;
  left: 0px;
  animation-name: item-fall-down;
  animation-duration: 2s;
}

@keyframes item-fall-down {
  0% {
    top: -700px;
  }
  100% {
    top: 0px;
  }
}

.non-visible {
  visibility: hidden;
  z-index: 10;
}

/* --------TOUCH-LAYER---------------------------------------------------------------------- */

.gameboard-touch-layer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 16px 16px 16px;
  gap: 10px;
  width: 632px;
  height: 555px;
  z-index: 6;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media (max-width: 705px) {
  .gameboard-touch-layer {
    width: 335px;
    height: 280px;
    top: 0px;
    left: 0px;
    padding: 7px 7px 0px 7px;
    gap: 1px;
  }
}

.playing-item-touch {
  cursor: pointer;
  width: 70px;
  height: 70px;
}

@media (max-width: 705px) {
  .playing-item-touch {
    width: 41px;
    height: 46px;
  }
}

.playing-item-touch.disabled {
  cursor: default;
}
